/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Universal selector */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7; /* Means 1.7 times bigger than the actual value */
	color: #777;
	padding: 30px;
}

.header {
	height: 95vh; /* This means 95% of the Viewport Height */
	background-image: linear-gradient(
		to right bottom,
		rgba(126, 213, 111, 0.8),
		rgba(40, 180, 133, 0.8)),
		url(../img/hero.jpg);
		background-size: cover; /* The image will always fit to the box */
		/* This picture is going to ocupy 95% of the screen */
	background-position: top;
	position: relative;
	
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logo-box {
	position: absolute;
	/* The positioning starts from its parent element */
	top: 40px;
	left: 40px;
}

.logo {
	height: 35px;
	/* We don't specify the width, this way the browser calculates it based on the height and img resolution */
}

.text-box {
	position: absolute;
	top: 40%;
	left: 50%; /* 50% from the parent element */
	transform: translate(-50%, -50%);
}

.heading-primary {
	color: #fff;
	text-transform: uppercase;
}

.heading-primary-main {
	display: block; /* block elements occupies the entire width available */
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 35px;
}

.heading-primary-sub {
	display: block;
	font-size: 20px;
	font-weight: 20px;
	letter-spacing: 17.4px;
}